.search {
  background-color: lightgrey;
  border: 10px solid;
  border-color: #003366;
  padding: 5px;
  margin-top: 25px;
}

.search-bar {
  margin: 5px;
  text-align: center;
}

.search-bar input {
  width: 90%;
}

.list-group {
  border: 3px solid;
  background-color: #F2F2F2;
  border-color: #FF9966;
  padding: 0;
  text-align: center;

}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

li {
    margin-left: 15px;
    margin-bottom: 5px;
}
